models/Qwen/*
models/phi-tiny/*
models/gemma/*
models/llama/*
models/tinyllama/*

!models/Qwen/.gitkeep
!models/phi-tiny/.gitkeep
!models/gemma/.gitkeep
!models/llama/.gitkeep
!models/tinyllama/.gitkeep